<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <style>
            img{
                height: 40px;
                width: 40px;
            }
            #cart_items{
                color: #f2af58;
                margin-left: 9px;
                margin-top:-42px;
                display: block;
            }
            .fa-shopping-cart{
                margin-top: 8px;
            }
            .fa-shopping-cart:hover{
              color: white !important;
            }
            .btn-primary,  .btn-primary:active, .btn-primary:visited {
                background-color: #a45fc1 !important;
                border: none;
            }
            .btn-primary:hover{
                background-color: violet !important;
            }
            a{
                color: #f2af58;
            }
            a:hover{
                color:gold;
            }
            #profile_pic{
                border-radius: 50%;
                height:30px;
                width:30px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="http://localhost:8000"><img src="{% static 'logo.png' %}" alt="Quaranthings logo" class = "icons"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000/quaranthings/top_picks">Top Picks<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="friends" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quaranthing w/ Friends</a>
                        <div class="dropdown-menu" aria-labelledby="friends">
                            <div class = "row" style="width:600px;">
                                <ul class="list-unstyled col-md-4">
                                    <h6 class="dropdown-header">Food</h6>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/breakfast%20date">Breakfast Date</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/lunch%20date">Lunch Date</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/dinner%20date">Dinner Date</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/cook%20together">Cook Together</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/cooking%20class">Cooking Classes</a></li>
                                </ul>
                                <ul class="list-unstyled col-md-4">
                                    <h6 class="dropdown-header">Catch Up</h6>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/quick%20chat">Quick Chat</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/video%20call">Video Call</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/homework%20session">Homework Session</a></li>
                                    <h6 class="dropdown-header">Games</h6>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/gaming%20party">Gaming Party</a></li>
                                    
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/board%20game%20night">Board Game Night</a></li>
                                </ul>
                                <ul class="list-unstyled col-md-4">
                                    <h6 class="dropdown-header">Exercise</h6>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/hiking%20outing">Hiking Outing</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/joint%20workout">Joint Workout</a></li>
                                    <h6 class="dropdown-header">Random Fun</h6>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/movie%20showing">Movie Showing</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/shopping%20spree">Shopping Spree</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/karaoke%20jam">Karaoke Jam</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="diy" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">DIY Items</a>
                        <div class="dropdown-menu" aria-labelledby="diy">
                            <h6 class="dropdown-header">Wearables</h6>
                            <a class="dropdown-item" href="http://localhost:8000/quaranthings/face%20masks">Face Masks</a>
                            <a class="dropdown-item" href="http://localhost:8000/quaranthings/clothing">Clothing</a>
                            <a class="dropdown-item" href="http://localhost:8000/quaranthings/shoes">Shoes</a>
                            <div class = "dropdown-divider"></div>
                            <h6 class="dropdown-header">Other</h6>
                            <a class="dropdown-item" href="http://localhost:8000/quaranthings/photo%20frames">Photo Frames</a>
                            <a class="dropdown-item" href="http://localhost:8000/quaranthings/decorations">Decorations</a>
                            <a class="dropdown-item" href="http://localhost:8000/quaranthings/miscellaneous%20items">Miscellaneous</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000/users">Find Quarangivers</a>
                    </li>
                </ul>
        
                <ul class="navbar-nav ml-auto">
                <form class="form-inline  my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Quaranthings" aria-label="Search" id = "search">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                <li class="nav-item">
                    <a class="nav-link nav_svg_link" href="#"><i class="fas fa-shopping-cart fa-lg" style = "color: #999d9f;" id = "cart"></i><p id = "cart_items">{{cart_count}}</p></a>
                </li>
                {% if request.session.logged_user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://localhost:8000/users/cart" id="user" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if user.profile_picture %}<img src="{{user.profile_picture.url}}" id = "profile_pic">{% else %}<i class="fas fa-user-circle fa-2x"></i>{% endif %}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user">
                    <a class="dropdown-item" href="http://localhost:8000/edit_profile">Edit Profile</a>
                    <a class="dropdown-item" href="http://localhost:8000/quaranthings/new">Post Quaranthings</a>
                    <a class="dropdown-item" href="#">My Orders</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://localhost:8000/logout">Log Out</a>
                    </div>
                </li>
                {% else %}
                
                <li>
                    <a href="http://localhost:8000/login" class = "btn btn-link" style = "margin-top: 6px;">Login</a>
                </li>
                {% endif %}
                </ul>
      
            </div>
        </nav>
        <div class = "container" style = "width: 25vw; margin-top: 10px;">
            <h1 class = "display-4">Register</h1>
            <form action="http://localhost:8000/process_register" method = "POST" style="margin-top: 20px;">
                {% csrf_token %}
                {% if messages %}
                <ul style="list-style-type: square; margin-left: -20px;">
                    {% for message in messages %}
                    <li style="color: red; font-size: 12px;">{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <label class = "lead">First Name:</label>
                <input type="text" style="width: 100%;" name = "first_name">
                <label class = "lead" style="margin-top: 10px;">Last Name:</label>
                <input type="text" style="width: 100%;" name = "last_name">
                <label class = "lead" style="margin-top: 10px;">Date of Birth:</label>
                <input type="date" style="width: 100%;" name = "birthday">
                <label class = "lead" style="margin-top: 10px;">Email:</label>
                <input type="text" style="width: 100%;" name = "email">
                <label class = "lead" style="margin-top: 10px;">Password:</label>
                <input type="password" style="width: 100%" name = "password">
                <label class = "lead" style="margin-top: 10px;">Confirm Password:</label>
                <input type="password" style="width: 100%" name = "password_conf">
                <div style="display:flex; margin-top: 20px;">
                    <a href="http://localhost:8000/login" style="font-size: 12px;">Already have an account? Login here!</a>
                    <button class="btn btn-primary ml-auto" style="display: block;">Register</button>
                </div>
            </form>
        </div>
    </body>
</html>