<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{quaranthing.name}}</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <style>
      .icons{
        height: 40px;
        width: 40px;
      }
      #cart_items{
        color: #f2af58;
        margin-left: 9px;
        margin-top:-42px;
        display: block;
      }
      .fa-shopping-cart{
          margin-top: 10px;
      }
      .fa-shopping-cart:hover{
        color: white !important;
      }
      .container{
        width: 85vw !important;
        max-width: 100vw !important;
      }
      #main_img{
        height: 400px;
        max-height: 400px;
        min-height: 400px;
        width: 650px;
        max-width: 650px;
        min-width: 650px;
        outline: 1px solid #343b3f;
      }
      .btn-primary,  .btn-primary:active, .btn-primary:visited {
        background-color: #a45fc1 !important;
        border: none;
      }
      .btn-primary:hover{
        background-color: violet !important;
      }
      #main_div_sidepanel{
        height:fit-content;
        margin: auto 0px;
        display: block; 
        width: 100%;
      }
      #reviews, #quaranthings_images, .basic_info{
        margin-left: 20px;
        margin-bottom: 20px;
      }
      .container{
        outline: 1px solid silver; 
      }
      #product_container{
        display:flex;
        margin-top: 40px; 
      }
      #desc_container, #related_container{
        margin-top: 20px; 
      }
      #related_container, #quantity{
        margin-bottom: 20px;
      }
      .review_count{
        display:inline;
      }
      .thumbnail{
        height: 70px;
        width: 70px;
        border: 1px solid #343b3f;
      }
      #desc_tab, .description, .container, #main_div_sidepanel{
        padding: 20px;
      }
      select{
        padding:5px;
      }
      .nav-link{
        color: #f2af58;
      }
      .nav-link:hover{
        color:gold;
      }
      .review_btn{
        margin-left: 20px;
        margin-top: -10px;
      }
      .written_review{
        margin: 20px 20px;
        border-bottom: 0.2px solid lightgray;
      }
      .review_stars{
        margin-top: -5px;
        margin-left: 10px;
      }
      .review_header button{
        display: block;
        margin-top: -32px;
      }
      #big_delete{
        outline: none;
        margin-bottom: -40px;
      }
      .carousel{
        width: 1500px !important;
        height:700px !important;
      }
      .carousel-item img, #carouselExampleIndicators{
        height: 700px;
        width: 700px;
      }

    </style>
    <link rel="stylesheet" href="{% static 'css/quaranthing_style.css'%}">
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="http://localhost:8000"><img src="{% static 'logo.png' %}" alt="Quaranthings logo" class = "icons"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="http://localhost:8000">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="http://localhost:8000/quaranthings/top_picks">Top Picks<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="friends" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quaranthing w/ Friends</a>
                  <div class="dropdown-menu" aria-labelledby="friends">
                      <div class = "row" style="width:600px;">
                          <ul class="list-unstyled col-md-4">
                              <h6 class="dropdown-header">Food</h6>
                              <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/breakfast%20date">Breakfast Date</a></li>
                              <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/lunch%20date">Lunch Date</a></li>
                              <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/dinner%20date">Dinner Date</a></li>
                              <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/cook%20together">Cook Together</a></li>
                              <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/cooking%20class">Cooking Classes</a></li>
                          </ul>
                          <ul class="list-unstyled col-md-4">
                              <h6 class="dropdown-header">Catch Up</h6>
                              <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/quick%20chat">Quick Chat</a></li>
                              <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/video%20call">Video Call</a></li>
                              <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/homework%20session">Homework Session</a></li>
                              <h6 class="dropdown-header">Games</h6>
                              <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/gaming%20party">Gaming Party</a></li>
                              
                              <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/board%20game%20night">Board Game Night</a></li>
                          </ul>
                          <ul class="list-unstyled col-md-4">
                              <h6 class="dropdown-header">Exercise</h6>
                              <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/hiking%20outing">Hiking Outing</a></li>
                              <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/joint%20workout">Joint Workout</a></li>
                              <h6 class="dropdown-header">Random Fun</h6>
                              <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/movie%20showing">Movie Showing</a></li>
                              <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/shopping%20spree">Shopping Spree</a></li>
                              <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/karaoke%20jam">Karaoke Jam</a></li>
                          </ul>
                      </div>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="diy" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">DIY Items</a>
                  <div class="dropdown-menu" aria-labelledby="diy">
                      <h6 class="dropdown-header">Wearables</h6>
                      <a class="dropdown-item" href="http://localhost:8000/quaranthings/face%20masks">Face Masks</a>
                      <a class="dropdown-item" href="http://localhost:8000/quaranthings/clothing">Clothing</a>
                      <a class="dropdown-item" href="http://localhost:8000/quaranthings/shoes">Shoes</a>
                      <div class = "dropdown-divider"></div>
                      <h6 class="dropdown-header">Other</h6>
                      <a class="dropdown-item" href="http://localhost:8000/quaranthings/photo%20frames">Photo Frames</a>
                      <a class="dropdown-item" href="http://localhost:8000/quaranthings/decorations">Decorations</a>
                      <a class="dropdown-item" href="http://localhost:8000/quaranthings/miscellaneous%20items">Miscellaneous</a>
                  </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Find Quarangivers</a>
              </li>
          </ul>
  
          <ul class="navbar-nav ml-auto">
          <form class="form-inline  my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search Quaranthings" aria-label="Search" id = "search">
              <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
              </form>
          <li class="nav-item">
              <a class="nav-link nav_svg_link" href="#"><i class="fas fa-shopping-cart fa-lg" style = "color: #999d9f;" id = "cart"></i><p id = "cart_items">0</p></a>
          </li>
          {% if request.session.logged_user %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="user" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle fa-2x"></i></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user">
              <a class="dropdown-item" href="http://localhost:8000/quaranthings/new">Post Quaranthings</a>
              <a class="dropdown-item" href="#">My Orders</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="http://localhost:8000/logout">Log Out</a>
              </div>
          </li>
          {% else %}
          <li>
              <a href="http://localhost:8000/login" class = "btn btn-link" style = "margin-top: 6px;">Login</a>
          </li>
          {% endif %}
          </ul>

      </div>
    </nav>
    <div id = "main_body">
      {% if request.session.logged_user == quaranthing.seller.email%}
      <div class = "container" id = "big_delete">
        <form action="http://localhost:8000/quaranthings/{{quaranthing.id}}/delete_quaranthing" method = "POST">
          {% csrf_token %}
          <button class = "btn btn-danger btn-sm btn-block">Delete Quaranthing</button>
        </form>
      </div>
      {% endif %}
      <div class = "container" id = "product_container">
        <img src="{{quaranthing.images.all.first.img_file.url}}" alt="Product image" id = "main_img">
        <div id = "main_div_sidepanel">
          <h6>Posted by {{quaranthing.seller.first_name}} {{quaranthing.seller.last_name}}</h6>
          <h1>{{quaranthing.name}}</h1>
          <div id = "reviews" >
            {% for i in '01234'|make_list %}
            {% if forloop.counter > average_rating or quaranthing.reviews.all.count == 0%}
              <i class="fas fa-star" style="color: grey;"></i>
            {% else %}
              <i class="fas fa-star" style="color: #f2af58;"></i>
            {% endif %}
            {% endfor %}
            ({{quaranthing.reviews.all.count}})
          </div>
          <div id = 'quaranthings_images'>
            {% for img in quaranthing.images.all %}
              {% if img.img_file.url == quaranthing.images.all.first.img_file.url %}
              <img src="{{img.img_file.url}}" alt="product thumbnail" class = "thumbnail" id = "img_{{forloop.counter}}" style="border: 2px solid #f2af58;" onclick = "javascript:changeMainPic(this);" >
              {% else %}
              <img src="{{img.img_file.url}}" alt="product thumbnail" class = "thumbnail" id = "img_{{forloop.counter}}" onclick = "javascript:changeMainPic(this);">
              {% endif %}
            {% endfor %}
          </div>
          {% if quaranthing.price == 0%}
          <h4 class = "lead" class = 'basic_info'><strong>Price: Free</strong><strong class = "float-right">Stock available: {{quaranthing.stock}}</strong></h4>
          {% else %}
          <h4 class = "lead" class = 'basic_info'><strong>Price: ${{quaranthing.price}}</strong><strong class = "float-right">Stock available: {{quaranthing.stock}}</strong></h4>
          {% endif %}
          <form action="" method="POST">
            {% csrf_token %}
            <div id = "quantity">
              <label class = "lead"><strong>Quantity:</strong> </label>
              <select name="quantity">
                {% for i in '0123456789'|make_list %}
                {% if forloop.counter  > quaranthing.stock %}
                {% else %}
                <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
            <button class = "btn btn-primary btn-block btn-lg">Add to Cart</button>
          </form>
        </div>
      </div>
      <div class = "container" id = "desc_container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reviews: 
              {% for i in '01234'|make_list %}
              {% if forloop.counter > average_rating or quaranthing.reviews.all.count == 0%}
                <i class="fas fa-star" style="color: grey;"></i>
              {% else %}
                <i class="fas fa-star" style="color: #f2af58;"></i>
              {% endif %}
              {% endfor %}
              ({{quaranthing.reviews.all.count}})</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p class = "lead description">{{quaranthing.description}}</p>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" style="padding: 10px;">
            {% if quaranthing.reviews.all %}
              {% for review in quaranthing.reviews.all%}
              <div class = "written_review">
                <div class = "review_header">
                  <h5><strong>{{review.user.first_name}} {{review.user.last_name}}</strong> wrote on {{review.created_at|date:'M d, Y' }}:</h5>
                  {% if review.user.email == request.session.logged_user %}
                  <form action="http://localhost:8000/quaranthings/{{quaranthing.id}}/delete_review" method = "POST" class = "delete_review">
                    {% csrf_token %}
                    <input type="hidden" name="review_id" value = "{{review.id}}">
                    <button class = "btn btn-outline-danger btn-sm ml-auto" >Delete</button>
                  </form>
                  {% endif %}
                </div>
                
                <div class = "review_stars">
                  {% for i in '01234'|make_list %}
                  {% if forloop.counter > review.rating %}
                    <i class="fas fa-star" style="color: grey;"></i>
                  {% else %}
                    <i class="fas fa-star" style="color: #f2af58;"></i>
                  {% endif %}
                  {% endfor %}

                </div>
                <p class = "lead" style="margin-left: 10px;">{{review.content}}</p>
              </div>
              {% endfor %}
              {% if request.session.logged_user %}
              <button class = "btn btn-primary review_btn" onclick="javascript:reviewTrigger();" >Write a Review</button>
              {% else %}
              <p class = "lead description" style="font-size: 12px; margin-bottom: 0px;"><em>Login to leave a review!</em></p>
              <a href="http://localhost:8000/login" class = "btn btn-primary review_btn">Login</a>
              
              
              {% endif %}
              <form action="http://localhost:8000/quaranthings/process_review" method = "POST" style = "margin-top: 10px; display: none;" class = "review_form" id = "review_form_2">
                {% csrf_token %}
                <label class = "lead" style="display: block;">Rating: </label>
                <span class="star-rating">
                  <input type="radio" name="rating" value="1"><i></i>
                  <input type="radio" name="rating" value="2"><i></i>
                  <input type="radio" name="rating" value="3"><i></i>
                  <input type="radio" name="rating" value="4"><i></i>
                  <input type="radio" name="rating" value="5"><i></i>
                </span>
                <label class = "lead" style="display: block; margin-top: 20px;">Review: </label>
                <textarea name="content" id = "review_text" style = "width: 100%; height: 7em;"></textarea>
                <input type="hidden" name="thing_id" value = "{{quaranthing.id}}">
                <button class = "btn btn-primary ml-auto" style = "display: block;">Post Review</button>
              </form>
            {% else %}
            <div class = "review_prompt" >
              {% if request.session.logged_user %}
              <p class = "lead description">There have been no reviews for this quaranthing. Be the first to leave a review!</p>
              <button class = "btn btn-primary review_btn" onclick="javascript:reviewTrigger();" >Write a Review</button>
              {% else %}
              <p class = "lead description">There have been no reviews for this quaranthing. Login to leave a review!</p>
              <a href="http://localhost:8000/login" class = "btn btn-primary review_btn">Login</a>
              {% endif %}
            </div>
            <form action="http://localhost:8000/quaranthings/process_review" method = "POST" style = "margin-top: 10px; display: none;" class = "review_form" id = "review_form_1">
              {% csrf_token %}
              <label class = "lead" style="display: block;">Rating: </label>
              <span class="star-rating">
                <input type="radio" name="rating" value="1" ><i></i>
                <input type="radio" name="rating" value="2" ><i></i>
                <input type="radio" name="rating" value="3" ><i></i>
                <input type="radio" name="rating" value="4" ><i></i>
                <input type="radio" name="rating" value="5" ><i></i>
              </span>
              <label class = "lead" style="display: block; margin-top: 20px;">Review: </label>
              <textarea name="content" id = "review_text" style = "width: 100%; height: 7em;"></textarea>
              <input type="hidden" name="thing_id" value = "{{quaranthing.id}}">
              <button class = "btn btn-primary ml-auto" style = "display: block;">Post Review</button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
      <div class = "container" id = "related_container">
        <h3>Other Items You May Like</h3>
        {% for item in related_things %}
        {% if item.id == quaranthing.id %}
        {% else %}
        <div class="card bg-warning" style="width: 18rem;">
          <img class="card-img-top" src="{{item.images.all.first.img_file.url}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.description}}</p>
            {% if item.price == 0%}
            <p class="card-text lead"><strong>Free</strong></p>
            {% else %}
            <p class="card-text lead"><strong>${{item.price}}</strong></p>
            {% endif %}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>

    <script>
      var previous = "img_1";
      function reviewTrigger(){
        var elems = document.getElementsByClassName('review_prompt'),
        size = elems.length;
        for(var i = 0; i < size; i++){
            var prompt = elems[i];
            prompt.style.display = 'none';
        }
        elems = document.getElementsByClassName('review_form');
        size = elems.length;
        for(var i = 0; i < size; i++){
          var form = elems[i];
          form.style.display = 'block';
        }
      }
      function changeMainPic(img){
        var mainPicThumbnail = document.getElementById(previous);
        console.log(mainPicThumbnail);
        if (img.src != mainPicThumbnail.src){
          var mainPic = document.getElementById('main_img')
          mainPicThumbnail.style.border = '1px solid #343b3f';
          img.style.border = '2px solid #f2af58';
          mainPic.src = img.src;
          previous = img.id;
        }
      }

      $(document).on('submit', '.review_form', function() {
        $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (data) {
                $('#profile').html(data);
            },
            error: function(data) {
                console.log("something went wrong");
            }
        });
        $.ajax({
            url: "http://localhost:8000/quaranthings/{{quaranthing.id}}/update_review_header",
            success: function (data) {
                $('#profile-tab').html(data);
            },
            error: function(data) {
                console.log("something went wrong");
            }
        });
        $.ajax({
            url: "http://localhost:8000/quaranthings/{{quaranthing.id}}/update_rating_subtitle",
            success: function (data) {
                $('#reviews').html(data);
            },
            error: function(data) {
                console.log("something went wrong");
            }
        });

        return false;
      });
      $(document).on('submit', '.delete_review', function(){
        console.log("we are getting here!")
        $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (data) {
                $('#profile').html(data);
            },
            error: function(data) {
                console.log("something went wrong");
            }
        });
        $.ajax({
            url: "http://localhost:8000/quaranthings/{{quaranthing.id}}/update_review_header",
            success: function (data) {
                $('#profile-tab').html(data);
            },
            error: function(data) {
                console.log("something went wrong");
            }
        });
        $.ajax({
            url: "http://localhost:8000/quaranthings/{{quaranthing.id}}/update_rating_subtitle",
            success: function (data) {
                $('#reviews').html(data);
            },
            error: function(data) {
                console.log("something went wrong");
            }
        });
        return false;
      });
    </script>
  </body>
</html>