<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Top Picks</title>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>
            .icons{
                height: 40px;
                width: 40px;
            }
            #cart_items{
                color: #f2af58;
                margin-left: 9px;
                margin-top:-42px;
                display: block;
            }
            .fa-shopping-cart{
                margin-top: 10px;
            }
            .fa-shopping-cart:hover{
                color: white !important;
            }
            .btn-outline-primary,  .btn-outline-primary:active, .btn-outline-primary:visited {
                color: #a45fc1 !important;
                border: 1px solid #a45fc1 !important;
            }
            .btn-outline-primary:hover{
                background-color: #a45fc1 !important;
                color: white !important;
            }
            #main_container{
                min-width: 100vw !important;
                display: flex;
                margin-top: 20px;
            }
            #sidebar {
                margin-top: 100px;
                width: 400px;
            }
            #sidebar .card{
                border: none;
                height: 700px;
                margin-bottom: 20px;
            }
            #sidebar .card, .title, .icon-control, #sidebar a, #sidebar input, span{
                color: #a45fc1;
            }
            .card-img-top{
                height:200px;
            }
            .card{
                margin-right: 20px;
                height: 410px;
                width: 15rem;
            }
            .card-title{
                color: black
            }
            .card-body{
                overflow: scroll;
            }
            .card-footer{
                border: none;
                background-color: #f2af58;
            }
            .category_text{
                margin-top: -5px;
                font-size: 16px;
            }
            .form-control{
                width: 90px;
            }
            .bg-warning{
                background-color: #f2af58 !important;
            }
            #profile_pic{
                border-radius: 50%;
                height:30px;
                width:30px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="http://localhost:8000"><img src="{% static 'logo.png' %}" alt="Quaranthings logo" class = "icons"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="http://localhost:8000/quaranthings/top_picks">Top Picks<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="friends" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quaranthing w/ Friends</a>
                        <div class="dropdown-menu" aria-labelledby="friends">
                            <div class = "row" style="width:600px;">
                                <ul class="list-unstyled col-md-4">
                                    <h6 class="dropdown-header">Food</h6>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/breakfast%20date">Breakfast Date</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/lunch%20date">Lunch Date</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/dinner%20date">Dinner Date</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/cook%20together">Cook Together</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/cooking%20class">Cooking Classes</a></li>
                                </ul>
                                <ul class="list-unstyled col-md-4">
                                    <h6 class="dropdown-header">Catch Up</h6>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/quick%20chat">Quick Chat</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/video%20call">Video Call</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/homework%20session">Homework Session</a></li>
                                    <h6 class="dropdown-header">Games</h6>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/gaming%20party">Gaming Party</a></li>
                                    
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/board%20game%20night">Board Game Night</a></li>
                                </ul>
                                <ul class="list-unstyled col-md-4">
                                    <h6 class="dropdown-header">Exercise</h6>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/hiking%20outing">Hiking Outing</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/joint%20workout">Joint Workout</a></li>
                                    <h6 class="dropdown-header">Random Fun</h6>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/movie%20showing">Movie Showing</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/shopping%20spree">Shopping Spree</a></li>
                                    <li><a class="dropdown-item" href="http://localhost:8000/quaranthings/karaoke%20jam">Karaoke Jam</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="diy" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">DIY Items</a>
                        <div class="dropdown-menu" aria-labelledby="diy">
                            <h6 class="dropdown-header">Wearables</h6>
                            <a class="dropdown-item" href="http://localhost:8000/quaranthings/face%20masks">Face Masks</a>
                            <a class="dropdown-item" href="http://localhost:8000/quaranthings/clothing">Clothing</a>
                            <a class="dropdown-item" href="http://localhost:8000/quaranthings/shoes">Shoes</a>
                            <div class = "dropdown-divider"></div>
                            <h6 class="dropdown-header">Other</h6>
                            <a class="dropdown-item" href="http://localhost:8000/quaranthings/photo%20frames">Photo Frames</a>
                            <a class="dropdown-item" href="http://localhost:8000/quaranthings/decorations">Decorations</a>
                            <a class="dropdown-item" href="http://localhost:8000/quaranthings/miscellaneous%20items">Miscellaneous</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000/users">Find Quarangivers</a>
                    </li>
                </ul>
        
                <ul class="navbar-nav ml-auto">
                <form class="form-inline  my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Quaranthings" aria-label="Search" id = "search">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                <li class="nav-item">
                    <a class="nav-link nav_svg_link" href="http://localhost:8000/users/cart"><i class="fas fa-shopping-cart fa-lg" style = "color: #999d9f;" id = "cart"></i><p id = "cart_items">{{cart_count}}</p></a>
                </li>
                {% if request.session.logged_user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="user" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if user.profile_picture %}<img src="{{user.profile_picture.url}}" id = "profile_pic">{% else %}<i class="fas fa-user-circle fa-2x"></i>{% endif %}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user">
                    <a class="dropdown-item" href="http://localhost:8000/edit_profile">Edit Profile</a>
                    <a class="dropdown-item" href="http://localhost:8000/quaranthings/new">Post Quaranthings</a>
                    <a class="dropdown-item" href="#">My Orders</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://localhost:8000/logout">Log Out</a>
                    </div>
                </li>
                {% else %}
                
                <li>
                    <a href="http://localhost:8000/login" class = "btn btn-link" style = "margin-top: 6px;">Login</a>
                </li>
                {% endif %}
                </ul>
      
            </div>
        </nav>
        <div class = "container" id = "main_container">
            <div id = "sidebar">
                <h3 style="opacity: 70%; margin-left:10px; margin-top: -30px;">Filters</h3>
                <div class="card">
                    <form action="http://localhost:8000/quaranthings/top_picks/filter" method = "POST" id = "filter_form">
                        {% csrf_token %}
                        <article class="filter-group">
                            <header class="card-header"> 
                                <a href="#" data-toggle="collapse" data-target="#collapse_aside1" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">Categories</h6>
                                </a> 
                            </header>
                            <div class="filter-content collapse" id="collapse_aside1">
                                <div class="card-body" >
                                    <div class = "category_filter">
                                        <label class="checkbox-btn"> <input type="checkbox" class = "checkbox" name = "food"> <span class="btn category_text"> Food</span> </label>
                                    </div> 
                                    <div class = "category_filter">
                                        <label class="checkbox-btn"> <input type="checkbox" class = "checkbox" name = "catch_up"> <span class="btn category_text"> Catch Up</span></label>
                                    </div> 
                                    <div class = "category_filter">
                                        <label class="checkbox-btn"> <input type="checkbox" class = "checkbox" name = "games"> <span class="btn category_text"> Games</span></label>
                                    </div> 
                                    <div class = "category_filter">
                                        <label class="checkbox-btn"> <input type="checkbox" class = "checkbox" name = "exercise"> <span class="btn category_text"> Exercise</span></label>
                                    </div>
                                    <div class = "category_filter">
                                        <label class="checkbox-btn"> <input type="checkbox" class = "checkbox" name = "random_fun"> <span class="btn category_text"> Random Fun</span></label>
                                    </div>
                                    <div class = "category_filter">
                                        <label class="checkbox-btn"> <input type="checkbox" class = "checkbox" name = "wearables" > <span class="btn category_text"> Wearables</span></label>
                                    </div>
                                    <div class = "category_filter">
                                        <label class="checkbox-btn"> <input type="checkbox" class = "checkbox" name = "other"> <span class="btn category_text"> Other</span></label>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="filter-group">
                            <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside2" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">Price </h6>
                                </a> </header>
                            <div class="filter-content collapse" id="collapse_aside2">
                                <div class="card-body"> 
                                        <div class="form-row">
                                            <div class="form-group col-md-6"> <label>Min</label> <input class="form-control" type="number" name = "min" min = "0" max = "10000"> </div>
                                            <div class="form-group text-right col-md-6"> <label>Max</label> <input class="form-control float-right" type="number" name = "max" min = "0" max = "10000"> </div>
                                        </div> 
                                        <button class = "highlight-button btn btn-md btn-outline-primary btn-block ">Apply</button>
                                </div>
                            </div>
                        </article>
                    </form>
                </div>
            </div>
            <div class = "container" id = "middle_container">
                <h1 class = "display-4">Quaranthings' Top Picks</h1>
                <p class = "lead" style="opacity: 40%; margin-top: -10px;">The most popular items among our users</p>
                <div style = "display:flex;">
                    {% for pick in picks %}
                    {% if forloop.counter0|divisibleby:4 %}
                    </div>
                    <div style="display: flex; margin-bottom: 20px;">
                        <div class="card bg-warning">
                            <img class="card-img-top" src="{{pick.images.all.first.img_file.url}}" alt="Card image cap">
                            <div class="card-body">
                                <a href="http://localhost:8000/quaranthings/{{pick.id}}" class = "card-title h5">{{pick.name}}</a>
                              <p class="card-text">{{pick.description}}</p>
                              
                            </div>
                            <div class = "card-footer">
                                {% if pick.price == 0%}
                                <p class="card-text lead"><strong>Free</strong></p>
                                {% else %}
                                <p class="card-text lead"><strong>${{pick.price}}</strong></p>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="card bg-warning">
                            <img class="card-img-top" src="{{pick.images.all.first.img_file.url}}" alt="Card image cap">
                            <div class="card-body">
                                <a href="http://localhost:8000/quaranthings/{{pick.id}}" class = "card-title h5">{{pick.name}}</a>
                                <p class="card-text">{{pick.description}}</p>
                            </div>
                            <div class = "card-footer">
                                {% if pick.price == 0%}
                                <p class="card-text lead"><strong>Free</strong></p>
                                {% else %}
                                <p class="card-text lead"><strong>${{pick.price}}</strong></p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>



        <script>
            $(document).on('click', '.checkbox', function() {
                console.log("checkbox clicked");
                $('#filter_form').submit();
            });
            $(document).on('submit', '#filter_form', function() {
                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (data) {
                        $('#middle_container').html(data);
                    },
                    error: function(data) {
                        console.log("something went wrong");
                    }
                });
                return false;
            });
          </script>
    </body>
</html>